
.categories-section {
    display: flex;                  
    overflow-x: auto;              
    gap: 10px;                     
    padding: 10px;                  
    scrollbar-width: thin;          
}

.category-item {
    padding: 20px;                 
    border-radius: 8px;             
    color: #fff;                    
    text-align: center;            
    transition: background-color 0.3s ease; 
    flex-shrink: 0;                
}

.category-item h2 {
    margin: 0;
}

.category-item:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}

.Headphones-bg {
    background-color: #4CAF50;
}

.Earphones-bg {
    background-color: #2196F3;
}

.Covers-bg {
    background-color: #FF9800;
}

.Powerbanks-bg {
    background-color: #9C27B0;
}
.TemperGlass-bg {
    background-color: #009688;
}
.Chargers-bg {
    background-color: #607D8B;
}

.Memorychip-bg {
    background-color: #795548;
}

.Usbcord-bg {
    background-color: #FFC107;
}

.Mobilelens-bg {
    background-color: #FF5722;
}
